// SPDX-License-Identifier: Apache-2.0
// Copyright 2014 The Apache Software Foundation

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

code {
    font-family: "Menlo", "Lucida Console", monospace;
}